##########################
#  box_extras.py Macros  #
##########################

[gcode_macro BOX_HOME_XY]
description: Home X or Y axes if they are not already homed.  Z axis is ignored
gcode:
    {% if "x" not in printer.toolhead.homed_axes %}
        {% if "y" not in printer.toolhead.homed_axes %}
            G28 Y X         # Home X and Y Axes
        {% else %}
            G28 X           # Home X Only
        {% endif %}
    {% else %}
        {% if "y" not in printer.toolhead.homed_axes %}
            G28 Y           # Home Y Only
        {% endif %}
    {% endif %}

[gcode_macro BOX_PRINT_START]
description: Empty macro for compatibility with Qidi gcode macros
gcode:


[gcode_macro BOX_CUSTOM_PARK]
description: Happy Hare custom park macro to safely navigate trash bin
gcode:
    {% set x = params.X|float %}
    {% set y = params.Y|float %}
    {% set feed = params.F|float %}

    {% if y > 390 and printer.gcode_move.position.y <= 390 %}
        MOVE_TO_TRASH
    {% elif y <= 390 and printer.gcode_move.position.y > 390 %}
        G1 Y390 F1500
        G1 X{x} Y{y} F{feed}
    {% else %}
        G1 X{x} Y{y} F{feed}
    {% endif %}


[gcode_macro BOX_CLEAN_NOZZLE]
description: Perform full nozzle clean by flushing and wiping 
gcode:
    M104 S140  
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={extruder_temp-30}  


    SET_PRINT_SUB_STATUS SUB_STATUS=clear_nozzle  


    M204 S10000  

    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x + 8} F6000
    G1 X{km.park_x + 27} F10000
    G1 X{km.park_x + 8} F6000

    G1 X180 F20000
    G1 Y395 F6000
    G1 X188 F6000
    G1 Z-0.2 F480


    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150  
    M106 S255  

    G2 I0.5 J0.5 F480 
    G2 I0.5 J0.5 F480  
    G2 I0.5 J0.5 F480

    G91
    G1 X15 F200
    G1 Y2 F200
    G1 X-15 F200
    G1 Y-2 F200
    G1 X15 F200
    G90

    G2 I0.5 J0.5 F480  
    G2 I0.5 J0.5 F480
    G2 I0.5 J0.5 F480
    G1 Z10
    G1 Y383 F10000
    MOVE_TO_TRASH
    M400  # Wait for all cleanup actions to complete


    G1 X176 F12000
    G1 X163 F12000
    G1 X176 F12000
    G1 X163 F12000
    G1 X176 F12000
    G1 X163 F12000
    G1 X176 F12000
    G1 X163 F12000
    G1 X180 F12000
    M400
    M118 Nozzle cleared

    G1 Y350 F12000
    M106 S0  

    SET_PRINT_SUB_STATUS SUB_STATUS=""

[gcode_macro DISABLE_BOX_HEATER]
description: Box end gcode wrapped in stock macro
gcode:
    MMU_END
    SET_HEATER_TEMPERATURE HEATER=box1_heater TARGET=0


################################
### QIDI STOCK SLICER MACROS ###
################################
#
# These are necessary to interface with stock slicer profile
# Not currently used, but kept for reference / future slicer-driven profiles
#

[gcode_macro TOOL_CHANGE_START]
description: Initialize tool change (slicer macro)
gcode:
    SAVE_VARIABLE VARIABLE=is_tool_change VALUE=1
    ENABLE_RUNOUT SENSOR=extruder ENABLE=0
    MOVE_TO_TRASH

[gcode_macro TOOL_CHANGE_END]
description: Finalize tool change (slicer macro)
gcode:
    SAVE_VARIABLE VARIABLE=is_tool_change VALUE=0
    ENABLE_RUNOUT SENSOR=extruder ENABLE=1

[gcode_macro UNLOAD_T0]
gcode:
    {% if printer.mmu.enabled == 1 %}
        MMU_UNLOAD
    {% endif %}
    
[gcode_macro UNLOAD_T1]
gcode:
    {% if printer.mmu.enabled == 1 %}
        MMU_UNLOAD
    {% endif %}
    
[gcode_macro UNLOAD_T2]
gcode:
    {% if printer.mmu.enabled == 1 %}
        MMU_UNLOAD
    {% endif %}
    
[gcode_macro UNLOAD_T3]
gcode:
    {% if printer.mmu.enabled == 1 %}
        MMU_UNLOAD
    {% endif %}


################################
### QIDI STOCK SCREEN MACROS ###
################################
#
# These are necessary to interface with the printer screen
#

[gcode_macro E_LOAD]
gcode:
    {% set slot = params.SLOT|default(-1)|int %}
    MMU_CHANGE_TOOL TOOL={slot}

[gcode_macro E_UNLOAD]
gcode:
    {% set slot = params.SLOT|default(-1)|int %}
    MMU_SELECT GATE={slot}
    MMU_UNLOAD

[gcode_macro E_BOX]
gcode:
    {% set slot = params.SLOT|default(-1)|int %}
    MMU_EJECT GATE={slot}
